@font-face{
	font-family: blippo;
	src: url("../fonts/blippo.ttf");
}

button{
	border-radius: 5px;
	background-color: white;
	border: 2px solid #2690dd;
	width: 200px;
    height: 50px;
    margin: auto;
    font-size: 35px;
    font-family: Arial;
    color: #2690dd;
    margin: 10px;
}

button.control-button{
	width: 100px;
	height: 100px;
	font-size: 70px;
}

#disconnect{
	display: block;
	width: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

button:hover{
	background-color: #2690dd;
	color: white;
}

#pageBody{
	margin: auto;
	text-align: center;
	color: #2690dd;
	font-family: blippo;
}

h1{
	text-align: center;
	font-family: blippo;
	color: #2690dd;
	font-size: 100px;
	margin-top: 0;
	margin-bottom: 0;
}
h2{
	margin: 0;
}
#color-picker-container{
	display: inline-block;
	position: relative;
}

#control{
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	margin-right: 30px;
}

span.rangeVal{
	vertical-align: middle;
}

#connectInstruction{
	font-family: arial;
}

#fr,#gb{
	border: solid 2px #2690dd;
}

#fr:hover,#gb:hover{
	cursor: pointer;
}

#fr{
	margin-right: 15px;
}